table {
    display: table;
    /* width: 100%; */
    /* table-layout: fixed; */
    text-align: center!important;
}

td.time-column {
    width: 64px;
    height: 50px;
    padding: 4px;
    overflow: hidden;
    background-color: white;
}

td {
    background-color: whitesmoke;
    height: 25px;
}